{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish list <a href="{% url "service:dish-create" %}" style="float: right">+</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if dish_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Dish name</th>
        <th>Dish type</th>
        <th>Dish price</th>
        <th>Update dish</th>
        <th>Delete dish</th>
      </tr>
      {% for dish in dish_list %}
        <tr>
          <td>{{ dish.id }}</td>
          <td><a href="{% url "service:dish-detail" pk=dish.id %}">{{ dish.name }}</a></td>
          <td>{{ dish.dish_type }}</td>
          <td>{{ dish.price }}</td>
          <td><a href="{% url "service:dish-update" pk=dish.id %}">Update</a></td>
          <td><a href="{% url "service:dish-delete" pk=dish.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
