{% extends "base.html" %}

{% block content %}
  <style>
      ul {
          list-style-type: none
      }
  </style>
  <div class="text-center">
    <h3>Dish detail</h3>
    <p>
    <h5>
      Ingredients:
    </h5>
    </p>
    <ul>
      {% for dish in dish.ingredients.all %}
        <li>{{ dish.name }}</li>
      {% endfor %}
    </ul>
    <div class="ml-3">
      <h5>Cooks:</h5>
      {% for cook in dish.cooks.all %}
        <p>{{ cook.first_name }} {{ cook.last_name }}</p>
      {% endfor %}
    </div>
  </div>

{% endblock %}
