{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Ingredient list<a href="{% url "service:ingredient-create" %}" style="float: right">+</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if ingredient_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Ingredient name</th>
        <th>Update ingredient</th>
        <th>Delete ingredient</th>
      </tr>
      {% for ingredient in ingredient_list %}
        <tr>
          <td>{{ ingredient.id }}</td>
          <td>{{ ingredient.name }}</td>
          <td><a href="{% url "service:ingredient-update" pk=ingredient.id %}">Update</a></td>
          <td><a href="{% url "service:ingredient-delete" pk=ingredient.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
