<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>User: <strong>{{ user.username }}</strong></li>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <li><a href="{% url "login" %}">Login</a></li>
  {% endif %}
  <br>
  <li>
    <a href="{% url "service:index" %}">Home page</a>
  </li>
  <li>
    <a href="{% url "service:dish-type-list" %}">All dish types</a>
  </li>
  <li>
    <a href="{% url "service:dish-list" %}">All dishes</a>
  </li>
  <li>
    <a href="{% url "service:ingredient-list" %}">All ingredients</a>
  </li>
  <li>
    <a href="{% url "service:cook-list" %}">All cooks</a>
  </li>
</ul>
